#footer {
  background-color: var(--backgroundPage2-color);
  padding: 9rem 0;
  /* height: 300px; */
}

.footer {
  display: flex;
  align-items: start;
  column-gap: 11.5rem;
}

.footer__links h3 {
  font-size: clamp(1.4rem, 2vw, 1.8rem);
  margin-bottom: 2.1rem;
}

.footer__links--link {
  display: grid;
  gap: 1.6rem 0;
}

.footer__links--link a {
  font-size: clamp(1.4rem, 2vw, 1.8rem);
  font-weight: 400;
  color: var(--title-color);
}

@media (max-width: 900px) {
  #footer {
    padding: 4rem 0;
  }

  .footer {
    flex-wrap: wrap;
    row-gap: 3.2rem;
  }

  .footer .logo {
    display: none;
  }
}