* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  list-style: none;
}

:root {
  font-size: 62.5%;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
}

.header .container {
  background-color: red;
}



.imagem-container {
  position: relative;
  width: 300px;
  /* Ajuste o tamanho conforme necessário */
  height: 200px;
  /* Ajuste o tamanho conforme necessário */
  overflow: hidden;
  /* Oculta partes da imagem2 que excedam o container */
}

/* Estilize a imagem padrão (imagem1.jpg) */
.imagem {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Mantém a proporção da imagem e preenche o espaço */

}

.imagem:hover {
  animation: changeImage 0.3s;
  /* Aplica a animação aos keyframes */
}

/* Define os keyframes para a troca de imagem */
@keyframes changeImage {
  0% {
    opacity: 1;
    /* Começa com 100% de opacidade (imagem1) */
  }

  100% {
    opacity: 0;
    /* Termina com 0% de opacidade (imagem2) */
    background-image: url(assets/dark-and-red.png);
    /* Muda para a imagem2.jpg */
  }
}