#footer {
  background-color: var(--backgroundPage2-color);
  padding: 9rem 0;
  height: 300px;
}

.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer__links {
  display: flex;
  flex-direction: column;
}


.footer__links h3 {
  font-size: clamp(1.4rem, 2vw, 1.8rem);
  margin-bottom: 2.1rem;
}

.footer__links a {
  font-size: clamp(1.4rem, 2vw, 1.8rem);
}