#orcamento {
  padding: 7.8rem 0;
}

.orcamento h2 {
  font-size: clamp(2.4rem, 3.5vw, 3.2rem);
  color: var(--title-color);
  text-align: center;
  margin-bottom: 1.7rem;
}

.orcamento p {
  font-size: clamp(1.4rem, 1.5vw, 1.8rem);
  color: var(--simpleText-color);
  text-align: center;
  margin-bottom: 3.6rem;
}

.orcamento a {
  display: block;
  font-size: clamp(1.4rem, 3vw, 1.8rem);
  color: var(--title-color);
  margin: 0 auto;
  text-align: center;
  width: 25.5rem;
  padding: 12px 32px;
  border: 1px solid var(--border-color);
}

@media (max-width: 600px) {
  .orcamento a {
    width: 100%;
  }
}